.addRecipe {    
    background-image: url('../../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vw;
    display:flex;
    flex-direction: column;

}

.headerAdd{
    width: 100%;
    align-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goBackButton {
    color: black;
    background-color: rgb(231, 218, 218);
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 5px 1px rgb(3, 158, 185);
    cursor: pointer;
}

.goBackButton:hover {
    box-shadow: 1px 2px 1px rgb(3, 158, 185);
}

.title{
    font-size: 30px; 
    color: #fdfdfd;
    font-style: italic;
    font-weight: 700;    
    text-shadow: 3px 2px 3px rgb(5, 5, 5);
}

.marcForm{
    border-radius: 5px;
    width: 1000px;
    min-height: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25;
    align-content: space-around;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.marcForm1{
 
    width: 1000px;
    min-height: 360px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25;
    align-content: space-around;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    border-radius: 20px;
    box-shadow: 6px 6px 10px 2px rgb(40, 41, 92);
    background-color: rgba(231, 218, 218, 0.9);
}

.marcFormIz{
    width: 50%;
    margin-bottom: 30px;
}

.marcFormDe{
    width: 50%;
    margin-bottom: 30px;
}

.item{
    height: auto;
}

.label {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3px;
    color: #0a0a0a;
    font-style: italic;
    font-weight: 700;    
    text-shadow: 2px 1px 2px rgb(255, 255, 255);
}

.inputForm{
    width: 90%;
}

.inputForm1{
    width: 90%;
    height:70px
}

.inputForm2{
    width: 90%;
    height:100px
}

.submitButton {
    color: black;
    background-color: rgb(231, 218, 218);
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 5px 1px rgb(3, 158, 185);
    cursor: pointer;
}

.submitButton:hover {
    box-shadow: 1px 2px 1px rgb(3, 158, 185);
}

.titleDiet{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: left;
}

.titleDiets{
    color: #0a0a0a;
    font-style: italic;
    font-weight: 700;    
    text-shadow: 2px 1px 2px rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkSelect {
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px 1px rgb(40, 41, 92);
    background-color: rgb(231, 218, 218, 0.7);
    padding: 10px;
    margin-left: 15px; 
}   

.checks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.dietTypes {
    display: flex;
    flex-direction: column;    
    color: #160894;
    font-style: italic;
    font-weight: 500;
}

.errorMsg {
    width: 90%;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
    font-weight: 700;    
    color: #b11005;
    font-size: 16px;
    align-items: center;
    align-content: center;
    padding: 2px;
    margin-left: 5%;
    
}
