
.paginacion {
    display: flex;
    justify-content: center;
    padding: 10px 5px 5px;
    width: 1350px;
}

.paginas {
    display: flex;  
    flex-direction: row;    
	height: 30px;
    list-style-type:none;
    justify-content: center;
}

.pagina {
    height: 30px;
    width: 50px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    margin: 4px;

	box-shadow: 3px 5px 1px rgb(112, 44, 44);
	padding: 0 20px 4px;
	border-radius: 7px;
	background-color: rgb(231, 218, 218);

    cursor: pointer;
    user-select: none;
}