.botonBuscar{
    height: 20px;
    width: 50px;
    margin: 4px;
	box-shadow: 2px 3px 1px rgb(40, 41, 92);
	padding: 0 20px 4px;
    border-radius: 7px;
	background-color: rgb(231, 218, 218);
    cursor: pointer;
    user-select: none;
}

.botonBuscar:hover{
    height: 20px;
    width: 50px;
    margin: 4px;
	box-shadow: 1px 1px 1px rgb(40, 41, 92);
	padding: 0 20px 4px;
    border-radius: 7px;
	background-color: rgb(231, 218, 218);
    cursor: pointer;
    user-select: none;
}