.botonBuscar{
    height: 20px;
    width: 100px;
    margin: 4px;

	box-shadow: 3px 5px 1px rgb(135, 135, 135);
    border: none;
	border-radius: 7px;
	background-color: rgb(231, 218, 218);
	padding: 0 20px 4px;

    cursor: pointer;
    user-select: none;
}

.botonBuscar:hover{
	box-shadow: 1px 2px 1px rgb(135, 135, 135);
}