.landing{
    background-image: url('../../images/background6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 50vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /*background-image: linear-gradient(to bottom, #dfec51, #85ef84, #00e8bd, #00dae8, #00c6f9, #3bc4fa, #55c1f9, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.welcomeMsg{
    color: white;
    font-size: 45px;
    font-style: italic;
    font-weight: 700;    
    text-shadow: 3px 2px 3px rgb(61, 63, 201);
    margin: 75;
}

.infoMsg{
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;    
    text-shadow: 3px 2px 3px rgb(61, 63, 201);
    margin: 75;
}

.barMsg{
    background-color: white;
    height: 45px;
    width: 250px;
    align-items: center;
    align-content: center;
    color: green;
    margin-left: 100px;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    font-weight: 700;    
    text-shadow: 3px 2px 3px rgb(61, 63, 201);
}

.aniLanding{
    margin-top: 10px;
    background-color: rgba(248, 220, 169, 0.7);
    box-shadow: 6px 6px 10px 2px rgb(248, 220, 169, 0.8);
    width: 400px;
    height: auto;
    vertical-align: top;
    border-radius: 15px;   
}

.homeButton{
    color: black;
    background-color: rgb(231, 218, 218);
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 100px;
    border-radius: 20px;
    box-shadow: 3px 5px 1px rgb(3, 158, 185);
    cursor: pointer;
}

.homeButton:hover {
    box-shadow: 1px 2px 1px rgb(3, 158, 185);
}